<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.blitz.quotes"
      android:versionCode="0.9.1" android:versionName="0.9">
    <uses-sdk android:minSdkVersion="7" />

    <application android:icon="@drawable/icon" android:label="@string/app_name" android:debuggable="false">
        <activity android:name=".BlitzQuotesActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <receiver android:name="com.blitz.quotes.BlitzQuotesWidgetProvider" >
	    	<intent-filter>
	        	<action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
	    	</intent-filter>
	    	<meta-data android:name="android.appwidget.provider"
	               android:resource="@xml/widget_info" />
		</receiver>

    </application>
</manifest>
